
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotik Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="quiz-container">
        <h1>Robotik Quiz - 1</h1>
        <form method="POST">
            <p>Soru 1: Robotun hangi bileşeni hareketi sağlar?</p>
            
                <div class="option">
                    <label>
                        <input type="radio" name="answer" value="Motor" required>
                        Motor
                    </label>
                </div>
            
                <div class="option">
                    <label>
                        <input type="radio" name="answer" value="Sensör" required>
                        Sensör
                    </label>
                </div>
            
                <div class="option">
                    <label>
                        <input type="radio" name="answer" value="Batarya" required>
                        Batarya
                    </label>
                </div>
            
            <div class="ileri">
                <button type="submit">İleri</button>
            </div>
        </form>
    </div>
</body>
</html>